<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Atlas Backupper</title>
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/font-awesome.min.css" rel="stylesheet">

<link href="css/master.css" rel="stylesheet" />

</head>
<body>

	<div class="container-fluid" ng-app="atlasApp">
		<div ng-controller="atlasCtrl">
			<div class="row">
				<div class="col-md-2 text-center">
					<img alt="" src="img/AtlasLogo.png" width="200px"> <span
						style="font-size: 18px;">
						{{todayDate}}<br>{{clock}}<br><span ng-show="config.enableSchedule">Next	Update: {{timer}}</span> 
						<br>
						<div class="row">
							<div class="col-md-12" >
								<button class="btn btn-info btn-md menu-btn" ng-click="runBackup()">
									<span>Manual BackUp</span>
								</button>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<button class="btn btn-primary btn-xs menu-btn" ng-click="getBackupsManual()" ng-hide="isManual">
									<span>View Manual BackUps</span>
								</button>
								<button class="btn btn-primary btn-xs menu-btn" ng-click="getBackups()" ng-show="isManual">
									<span>View Automatic BackUps</span>
								</button>
							</div>
						</div>
						
						
						<div class="row">
							<div class="col-md-12">
								<button class="btn btn-primary btn-xs menu-btn" ng-click="showConfigBt()" ng-hide="showConfig">Show Config</button>
								<button class="btn btn-primary btn-xs menu-btn" ng-click="showConfigBt()" ng-show="showConfig">Hide Config</button>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-12">
								<button class="btn btn-danger btn-xs menu-btn" ng-click="enableScheduled()" ng-show="config.enableSchedule">Disable Scheduled</button>
								<button class="btn btn-success btn-xs menu-btn" ng-click="enableScheduled()" ng-show="!config.enableSchedule">Enable Scheduled</button>
							</div>
						</div>
						<!--  
						<div class="row">
							<div class="col-md-12">
								<div ng-hide="showLoader" style="padding-top: 20px;">
									<i class="fa fa-circle-o-notch fa-spin" style="font-size: 20px;" aria-hidden="true"></i> Updating...
								</div>
							</div>
						</div>
						<div class="row" ng-show="error != ''">
							<div class="col-md-12 config">
								<div class="error-msg">{{error}}</div><a class="btn btn-success  btn-xs menu-btn" ng-click="error=''">Cick to close</a>
							</div>
						</div>
						-->
					</span>
				</div>
				<div class="col-md-8 text-center" style="padding-top: 20px;">
					<div>
						<h2>
							<i class="fa fa-calendar" aria-hidden="true"></i>
							BackUp Atlas Admin
						</h2>
					</div>
					<table class="table table-hover" style="font-size: 12px;border:none;">
						<thead>
							<tr>
								<th style="text-align: center;">Backup Date</th>
								<th style="text-align: center;">Backup Name</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="backup in lsBackups">
								<td>{{getDate(backup)}}</td>
								<td>{{backup.name}}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="2" style="font-weight: bold; font-size: 18px;"><span
									class="fa fa-database"></span> Total Backups:
									{{lsBackups.length}}</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 text-center">
					<div class="row">
							<div class="col-md-12">
								<div ng-hide="showLoader" style="padding-top: 20px;">
									<i class="fa fa-circle-o-notch fa-spin" style="font-size: 20px;" aria-hidden="true"></i> Updating...
								</div>
							</div>
						</div>
						<div class="row" ng-show="error != ''">
							<div class="col-md-12 config">
								<div class="error-msg">{{error}}</div><a class="btn btn-success  btn-xs menu-btn" ng-click="error=''">Cick to close</a>
							</div>
						</div>
				</div>
				<div class="col-md-8 text-left" ng-show="showConfig">
							<div>
								<h2>
									<i class="fa fa-cogs" aria-hidden="true"></i>
									Configuration data
								</h2>
							</div>
							<div class="row">
								<div class="col-md-2 text-right">
									<span class="label label-primary">Atlas Save Directory Path:</span>
								</div>
								<div class="col-md-10">
									<span class="config-content label">{{config.atlasPath}}</span>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2 text-right">
									<span  class="label label-primary">Backup Save Directory Path:</span>
								</div>
								<div class="col-md-10">
									<span class="config-content label">{{config.backupPath}}</span>
								</div>
								
							</div>
							
							<div class="row">
								<div class="col-md-2 text-right">
									<span  class="label label-primary">Cron Backup:</span>
								</div>
								<div class="col-md-10">
									<span class="config-content label">{{config.cronBackup}}</span>
								</div>
								
							</div>
							
							<div class="row">
								<div class="col-md-2 text-right">
									<span class="label label-primary">Cron Clean Old Backups:</span>
								</div>
								<div class="col-md-10">
									<span class="config-content label">{{config.cronClean}}</span>
								</div>
								
							</div>
							
							<div class="row">
								<div class="col-md-2 text-right">
									<span  class="label label-primary">Max Backups Keep:</span>
								</div>
								<div class="col-md-10">
									<span class="config-content label">{{config.maxBackups}}</span>
								</div>
								
							</div>
							
							<div class="row">
								<div class="col-md-2 text-right">
									<span  class="label label-primary">Enable Scheduled Backups:</span>
								</div>
								<div class="col-md-10">
									<span  class="label label-success" ng-show="config.enableSchedule">Enabled</span>
							    	<span  class="label label-danger" ng-hide="config.enableSchedule">Disabled</span>
								</div>
								
							</div>
							
						</div>
			</div>

			

		</div>

	</div>

	<script type="text/javascript" src="jslib/jquery.min.js"></script>
	<script type="text/javascript" src="jslib/angular.min.js"></script>
	<script type="text/javascript" src="jslib/bootstrap.min.js"></script>
	<script type="text/javascript" src="jslib/moment.min.js"></script>
	<script type="text/javascript" src="jslib/moment-with-locales.min.js"></script>

	<script type="text/javascript" src="app/app.js"></script>

</body>
</html>